* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
}
.background {
  background-image: url("./img/laptop.gif");
  background-repeat: no-repeat;
}
/* .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: yellowgreen 2px solid;
  width: 200px;
  margin-left: 50rem;
  margin-top: 0rem;
  background-color: black;
  color: white;
}
*/
.card {
  margin-left: 45rem;
  margin-top: 12rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  height: 80px;
  z-index: 10000;
  background-color: black;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30rem;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
a:hover {
  background-color: white;
  color: black;
  padding: 0px;
}
.banner {
  margin-top: 120px;
  width: 100%;
  height: 100vh;
}
.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gallery-img {
  width: 500px;
  height: 400px;
  display: none;
}
.active {
  display: block;
}
.about {
  font-size: 15px;

  padding-top: 40px;
}
.image-gallery {
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  width: 50px;
  height: 25px;
  margin: 10px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}
.git,
.stack {
  width: 2rem;
  height: 2rem;
  border: solid green px;
  margin-bottom: 0.6rem;
}
.in {
  width: 3rem;
  height: 3rem;

  border: red solid px;
}
.formalignment {
  margin-left: 5rem;
  font-size: large;
  border: solid grey px;
  padding-right: 150px;
}
.form-container {
  border: green solid px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#output {
  border: violet solid px;
  margin-right: 200px;
  width: 30rem;
  height: 20rem;
}
.sentences {
  border: black solid px;
  margin: 30px 120px;
}
/* .page-wrapper-index {
  display: flex;
  flex-direction: column;
} */
/* .card {
  border: black 8px solid;
  border-top: black 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 180px;
  color: white;
  margin-right: 50px;
}
.card:hover {
  border: white;
  animation: ;
}
/* .avatar {
  border: tomato px solid;
} */
*/ #arrPrint {
  font-size: 12px;
  margin-bottom: 1px;
}
/* .avatar {
  width: 100px;
  height: 175px;
} */
