
body {
  background-color: #1BBAE6;  
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: solid red 2px;
}
 
}

.button {
  background-color: #3d6ded;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 120px;
}


.nav-item {
  align-self: flex-end;
  color: #3d6ded;
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

.page-wrapper {
  background-color: white;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  border: #0711E6 solid 30px;
  width: 1200px;
  margin: 4rem auto;
  
}

.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}
.git, .stack{
  width: 2rem;
  height: 2rem;
  border: solid green px;
  margin-bottom: 0.6rem;
}
.in{
  width: 3rem;
  height: 3rem;
  margin-top: 12rem;
  border: red solid px; 
}
nav{
  border: springgreen solid px;
  margin-top: 4rem;
  display: block;

}
.nav{
  color: #1BBAE6;
  border: red solid px;
  font-size: 22px;
  text-decoration: none;
  margin: 0 1rem;
  padding: 1rem;

}
a.nav:hover{
  color: white;
  background-color: #0711E6;
  
}