* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
}
.background {
  background-image: url("./img/laptop.gif");
  background-repeat: no-repeat;
}
.name {
  margin-left: 45rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  height: 80px;
  z-index: 10000;
  background-color: black;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30rem;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
a:hover {
  background-color: white;
  color: black;
  padding: 0px;
}
.banner {
  margin-top: 120px;
  width: 100%;
  height: 100vh;
}
.page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gallery-img {
  width: 500px;
  height: 400px;
  display: none;
}
.active {
  display: block;
}
.about {
  font-size: 15px;

  padding-top: 40px;
}
.image-gallery {
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  width: 50px;
  height: 25px;
  margin: 10px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}
.git,
.stack {
  width: 2rem;
  height: 2rem;
  border: solid green px;
  margin-bottom: 0.6rem;
}
.in {
  width: 3rem;
  height: 3rem;

  border: red solid px;
}
.formalignment {
  margin-left: 5rem;
  font-size: large;
  border: solid grey px;
  padding-right: 150px;
}
.form-container {
  border: green solid px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#output {
  border: violet solid px;
  margin-right: 200px;
  width: 30rem;
  height: 20rem;
}

/* * {
  box-sizing: border-box;
}

body {
  background-color: #1bbae6;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: solid #1bbae6 2px;
}

.button {
  background-color: #3d6ded;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 120px;
}

.nav-item {
  align-self: flex-end;
  color: #3d6ded;
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

.page-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border: #0711e6 solid 30px;
  width: 1200px;
  margin-top: 30px;
  margin-left: 35px;
}

.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}
.git,
.stack {
  width: 2rem;
  height: 2rem;
  border: solid green px;
  margin-bottom: 0.6rem;
}
.in {
  width: 3rem;
  height: 3rem;
  margin-top: 12rem;
  border: red solid px;
}
nav {
  border: springgreen solid px;
  margin-top: 4rem;
  display: block;
}
.nav {
  color: #1bbae6;
  border: red solid px;
  font-size: 22px;
  text-decoration: none;
  margin: 0 1rem;
  padding: 1rem;
}
.nav-container {
  border: green 2px solid;
  display: block;
}
a.nav:hover {
  color: white;
  background-color: #0711e6;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.name {
  border: 2px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  border: #0711e6 solid 2px;
  padding-top: 5px;
}
.info {
  border: 2px solid red;
  margin-top: 100px;
  margin-bottom: 0;
  float: left;
}
.formalignment {
  display: flex;
  flex-direction: column;
  border: blueviolet 2px solid;
}
.gallery-image {
  width: 40px;
  height: 40px;
} */
